body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-container{
    height: 400px;
    width: 300px;
    padding: 10px;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
}

.result-display-container{
    background-color: rgb(240, 240, 240);
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.result {
    font-size: 40px;
    padding: 0 20px 20px 20px;
}

.on-going-request{
    font-size: larger;
    padding: 15px 20px 5px 20px;
    color: rgb(88, 88, 88);
}


button{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border-width: 0.4px;
    flex-grow: 1;
}

button:active{
    filter: brightness(85%)
}

.buttons{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.btn-numerical{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 60%;
}

.btn-numerical button{
    background-color: rgb(247, 161, 0);
    font-size: x-large;
    height: 25%;
}

.btn-operate {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.btn-operate button{
    background-color: rgb(6, 166, 6);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    height: 33.5%;
}

.btn-operate button:nth-child(1){
    background-color: rgb(255, 255, 255);
}

.btn-operate button:nth-child(2){
    background-color: rgb(255, 255, 255);
}

.btn-numerical button:nth-last-child(1) {
    flex-grow: 0;
    flex-basis: 34%;
}

